.btn-login {
	background-color: transparent;
	color: rgb(64, 64, 64);

	&:hover {
		background-color: rgba(59, 73, 233, 0.1);
		color: rgb(47, 58, 178);
		text-decoration: underline;
	}
}

// *** Aside Left ***

.link-nav {
	background-color: transparent;

	&:hover {
		background-color: rgba(59, 73, 233, 0.1);
		color: rgb(47, 58, 178);
		text-decoration: underline;
	}

	& a {
		color: rgb(64, 64, 64);

		&:hover {
			color: rgb(47, 58, 178);
		}
	}
}

.social-icon {
	background-color: transparent;
	color: rgb(64, 64, 64);

	&:hover {
		background-color: rgba(59, 73, 233, 0.1);
		color: rgb(47, 58, 178);
	}
}

.btn-search {
	background-color: #fff;
	border: 1px solid #dee2e6;
	color: rgb(64, 64, 64);

	&:hover {
		background-color: rgba(59, 73, 233, 0.1);
		color: rgb(47, 58, 178);
		text-decoration: underline;
	}
}

.bg-dev {
	background-color: rgb(245, 245, 245);
}

#popular-tags {
	max-height: 42vh;
}

.bilboard {
	max-height: calc(100vh - 58px - 2 * 1rem);
	padding: 12px;

	.btn-bilboard {
		background-color: transparent;

		&:hover {
			background-color: rgba(59, 73, 233, 0.1);
			color: rgb(47, 58, 178);
		}
	}
}

// *** Aside Right ***

.text-discuss {
	color: rgb(64, 64, 64);

	&:hover {
		color: rgb(47, 58, 178);
	}
}

.widget {
	padding: 16px;

	&:hover {
		background-color: #fff;
		color: rgb(47, 58, 178) !important;
	}
}

// *** Helpers ****

.fs-6 {
	font-size: 14px !important;
}

.fs-xs {
	font-size: 12px !important;
}
