.btn-login {
	background-color: transparent;
	color: rgb(64, 64, 64);

	&:hover {
		background-color: rgba(59, 73, 233, 0.1);
		color: rgb(47, 58, 178);
		text-decoration: underline;
	}
}

// *** Aside Left ***

.link-nav {
	background-color: transparent;

	&:hover {
		background-color: rgba(59, 73, 233, 0.1);
		color: rgb(47, 58, 178);
		text-decoration: underline;
	}

	& a {
		color: rgb(64, 64, 64);

		&:hover {
			color: rgb(47, 58, 178);
		}
	}
}

.social-icon {
	background-color: transparent;
	color: rgb(64, 64, 64);

	&:hover {
		background-color: rgba(59, 73, 233, 0.2);
		color: rgb(47, 58, 178);
	}
}

.btn-search {
	background-color: #fff;
	border: 1px solid #dee2e6;
	color: rgb(64, 64, 64);

	&:hover {
		background-color: rgba(59, 73, 233, 0.1);
		color: rgb(47, 58, 178);
		text-decoration: underline;
	}
}

.bg-dev {
	background-color: rgb(245, 245, 245);
}

#popular-tags {
	max-height: 42vh;
}

.bilboard {
	max-height: calc(100vh - 58px - 2 * 1rem);
	padding: 12px;

	.btn-bilboard {
		background-color: transparent;

		&:hover {
			background-color: rgba(59, 73, 233, 0.1);
			color: rgb(47, 58, 178);
		}
	}
}

// *** Aside Right ***

.text-discuss {
	color: rgb(64, 64, 64) !important;

	&:hover {
		color: rgb(47, 58, 178) !important;
	}
}

.widget {
	padding: 16px;

	&:hover {
		background-color: #fff;
		color: rgb(47, 58, 178) !important;
	}
}

// *** Helpers ****
.fs-5_5 {
	font-size: 16px !important;
}

.fs-6 {
	font-size: 14px !important;
}

.fs-xs {
	font-size: 12px !important;
}

.p-2_5 {
	padding: 0.75rem !important;
}

.pt-2_5 {
	padding: 0 !important;
	padding-top: 0.75rem !important;
}

.px-2_5 {
	padding-left: 0.75rem !important;
	padding-right: 0.75rem !important;
}

//debria ser 32px en y
.py-4_5 {
	padding-top: 2rem !important;
	padding-bottom: 2rem !important;
}

.ps-4_5 {
	padding-left: 2.5rem !important;
}

//deberia ser 32px
.pt-3_5 {
	padding-top: 2rem !important;
}

.gap-2_5 {
	gap: 0.75rem !important;
}

//deberia ser 64px
.px-7 {
	padding-left: 4rem !important;
	padding-right: 4rem !important;
}

// *** POSTS ***

.tags-post {
	&:hover {
		background-color: rgba(86, 160, 54, 0.2);
		box-shadow: inset 0 0 0 1px rgba(86, 160, 54, 0.1),
			inset 0 0 0 1px rgba(86, 160, 54, 0.1),
			inset 0 0 0 1px rgba(86, 160, 54, 0.1);
	}
}

.ps-4_5 {
	padding-left: calc(2.5rem - 8px) !important;
}

.btn-comments {
	&:hover {
		background-color: rgba(121, 127, 199, 0.1);
	}
}

.crayons_icon_container {
	background-color: rgb(245, 245, 245);
	border: 2px solid rgb(255, 255, 255);
	border-radius: 15px;
	margin-right: -0.75em;
	width: 28px;
	height: 28px;
}

// *** Login ***

.registration {
	width: 640px;
}

.btn-login-social {
	&:hover {
		background-color: rgba(121, 127, 199, 0.1) !important;
	}
}

.btn-lg-login {
	padding: 12px 20px;
}

// *** Header Home ***
.pill-position {
	top: 20% !important;
	left: 80% !important;
}
